.dash-header {
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header-item {
    margin: 0 0.5rem;
}